In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [38]:
pip install kaggle

Collecting kaggle
  Downloading kaggle-1.5.12.tar.gz (58 kB)
Requirement already satisfied: six>=1.10 in c:\users\convergytics\anaconda3\lib\site-packages (from kaggle) (1.15.0)
Requirement already satisfied: certifi in c:\users\convergytics\anaconda3\lib\site-packages (from kaggle) (2020.6.20)
Requirement already satisfied: python-dateutil in c:\users\convergytics\anaconda3\lib\site-packages (from kaggle) (2.8.1)
Requirement already satisfied: requests in c:\users\convergytics\anaconda3\lib\site-packages (from kaggle) (2.24.0)
Requirement already satisfied: tqdm in c:\users\convergytics\anaconda3\lib\site-packages (from kaggle) (4.50.2)
Collecting python-slugify
  Downloading python_slugify-5.0.2-py2.py3-none-any.whl (6.7 kB)
Requirement already satisfied: urllib3 in c:\users\convergytics\anaconda3\lib\site-packages (from kaggle) (1.25.11)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\convergytics\anaconda3\lib\site-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\convergytics\anaconda3\lib\site-packages (from requests->kaggle) (2.10)
Collecting text-unidecode>=1.3
  Downloading text_unidecode-1.3-py2.py3-none-any.whl (78 kB)
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py): started
  Building wheel for kaggle (setup.py): finished with status 'done'
  Created wheel for kaggle: filename=kaggle-1.5.12-py3-none-any.whl size=73057 sha256=52510676de3ab16bce4ebeaa886d33fc9ab8a0ce0c252bb68800d417d8f258f4
  Stored in directory: c:\users\convergytics\appdata\local\pip\cache\wheels\29\da\11\144cc25aebdaeb4931b231e25fd34b394e6a5725cbb2f50106
Successfully built kaggle
Installing collected packages: text-unidecode, python-slugify, kaggle
Successfully installed kaggle-1.5.12 python-slugify-5.0.2 text-unidecode-1.3
Note: you may need to restart the kernel to use updated packages.

In [27]:
df = pd.read_csv('train.csv')

# ETL

In [37]:
df.describe()

,deg_C,relative_humidity,absolute_humidity,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,target_carbon_monoxide,target_benzene,target_nitrogen_oxides
count,7111.000000,7111.000000,7111.000000,7111.000000,7111.000000,7111.000000,7111.000000,7111.000000,7111.000000,7111.000000,7111.000000
mean,20.878034,47.561004,1.110309,1091.572100,938.064970,883.903305,1513.238349,998.335565,2.086219,10.237083,204.066784
std,7.937917,17.398731,0.398950,218.537554,281.978988,310.456355,350.180310,381.537695,1.447109,7.694426,193.927723
min,1.300000,8.900000,0.198800,620.300000,364.000000,310.600000,552.900000,242.700000,0.100000,0.100000,1.900000
25%,14.900000,33.700000,0.855900,930.250000,734.900000,681.050000,1320.350000,722.850000,1.000000,4.500000,76.450000
50%,20.700000,47.300000,1.083500,1060.500000,914.200000,827.800000,1513.100000,928.700000,1.700000,8.500000,141.000000
75%,25.800000,60.800000,1.404150,1215.800000,1124.100000,1008.850000,1720.400000,1224.700000,2.800000,14.200000,260.000000
max,46.100000,90.800000,2.231000,2088.300000,2302.600000,2567.400000,2913.800000,2594.600000,12.500000,63.700000,1472.300000

In [ ]:
pd.plotting.scatter_matrix(df.loc[:,:], figsize=(16, 10))
plt.show()

In [ ]:
corr = df.corr()

In [ ]:
sns.heatmap(corr,cmap=sns.diverging_palette(20, 220, n=200))

In [ ]:
abs(corr.target_carbon_monoxide).sort_values()

In [ ]:
abs(corr.target_benzene).sort_values()

In [ ]:
abs(corr.target_nitrogen_oxides).sort_values()

# Modelling

In [28]:
x = df.loc[:,'deg_C':'sensor_5']
test = pd.read_csv('test.csv')

In [29]:
test.head()

,date_time,deg_C,relative_humidity,absolute_humidity,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5
0,2011-01-01 00:00:00,8.0,41.3,0.4375,1108.8,745.7,797.1,880.0,1273.1
1,2011-01-01 01:00:00,5.1,51.7,0.4564,1249.5,864.9,687.9,972.8,1714.0
2,2011-01-01 02:00:00,5.8,51.5,0.4689,1102.6,878.0,693.7,941.9,1300.8
3,2011-01-01 03:00:00,5.0,52.3,0.4693,1139.7,916.2,725.6,1011.0,1283.0
4,2011-01-01 04:00:00,4.5,57.5,0.4650,1022.4,838.5,871.5,967.0,1142.3

In [30]:
Y1 = df.target_benzene
Y2 = df.target_carbon_monoxide
Y3 = df.target_nitrogen_oxides

In [31]:
from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor()

In [32]:
knn.fit(x,Y1)
Y1_pred = knn.predict(test.loc[:,'deg_C':'sensor_5'])

knn.fit(x,Y2)
Y2_pred = knn.predict(test.loc[:,'deg_C':'sensor_5'])

knn.fit(x,Y3)
Y3_pred = knn.predict(test.loc[:,'deg_C':'sensor_5'])

# Results

In [59]:
result = pd.DataFrame(data={'date_time':test.loc[:,'date_time'],'target_carbon_monoxide':Y1_pred, 'target_benzene':Y2_pred,'target_nitrogen_oxides':Y3_pred})

In [60]:
result.to_csv('submissions_001.csv',index=False)

In [53]:
result.shape

(2247, 4)

In [56]:
result.head()

,date_time,target_carbon_monoxide,target_benzene,target_nitrogen_oxides
0,2011-01-01 00:00:00,5.94,1.28,253.96
1,2011-01-01 01:00:00,8.96,2.64,344.80
2,2011-01-01 02:00:00,8.16,1.58,339.82
3,2011-01-01 03:00:00,8.66,1.80,367.22
4,2011-01-01 04:00:00,6.26,1.46,294.18